<header class="site-header  navbar-fixed-top">
    <div class="wrap">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">

            <div class="trigger">
                <a class="page-link blog" href="{{ site.url }}/blog">博客</a>
                <a class="page-link project" href="{{ site.url }}/project">项目</a>
                <a class="page-link book" href="{{ site.url }}/book">书单</a>
                <a class="page-link timeline" href="{{ site.url }}/timeline">时间轴</a>
                <a class="page-link about" href="{{ site.url }}/about">关于我</a>
            </div>
        </nav>

    </div>
</header>
