/* Base */

/* ----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    /*    font-family: Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
    min-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}
/* Primary Font Style */

body,
.font1,
.font-primary,
.commentlist,
input {
    font-family: Microsoft YaHei, Georgia, 'Times New Roman', Times, serif;
}
/* Header Font Style */

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
    font-family: Microsoft YaHei, Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 400;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
/*
a:visited {
    color: #205caa;
    text-decoration: none;
}
*/

/* Utility */

.wrap:before,
.wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.wrap {
    max-width: 80%;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}
/* Layout Styles */

/* ----------------------------------------------------------*/

/* Site header */

.site-header {
    border-top: 5px solid #333;
    color: #800080;
    border-bottom: 1px solid #e8e8e8;
    min-height: 40px;
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.site-title:link,
.site-title:visited {
    display: block;
    color: #335;
    font-size: 30px;
    letter-spacing: 1px;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.site-title:hover {
    text-decoration: none;
    color: #727272;
}
.site-title:active {
    color: #727272;
}
.site-nav {
    float: right;
    margin-top: 25px;
}
.site-nav .menu-icon {
    display: none;
}
.site-nav .page-link {
    margin-left: 25px;
    color: #727272;
    letter-spacing: 1px;
    text-decoration: none;
}
.site-nav .page-link:hover {
    color: #000;
}
/* posts list ----------------------------------*/

.index-content {
    margin-top: 6%;
    padding: 50px 60px;
    background-color: #fff;
    /*    min-height: 1100px*/
}
.blog-posts-left {
    /*    background-color: #727272;*/
    margin-left: 6%;
    margin-right: 4%;
    margin-bottom: 3%;
    width: 60%;
}
/*post pagination-------------------------------*/

#post-pagination {
    text-align: center;
    margin-top: 6%;
}
#post-pagination a:hover {
    text-decoration: none;
}
#post-pagination ul {
    margin: 0px;
    padding: 0px;
}
.blog-posts-right {
    /*    background-color: #2a7ae2;*/
/*    width: 25%;*/
/*    max-width: 400px;*/
/*    margin-right: 6%;*/
/*    margin-bottom: 2%*/
}
.blog-posts-right ul{
     list-style: none;
}
.search {
    /*    background-color: #2deb1d;*/
    height: 50px;
}
.col-lg-6 {
    padding: 0px;
}
.search div {
    width: 100%;
}
.form-control {
    width: 100px;
}
.name-archives ,
.tags ,
.year-archives ,
.weibo ,
.guests {
/*    height: 200px;*/
    width: 100%;
    float: left;
}
.tags{
    display: none;
}
.glyphicon{margin-right: 4%;}

.affix{position:fixed;top:15%;width: 20.5%;}
.affix-bottom{position:absolute;}
/* Site footer ---------------------------------*/

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    font-size: 13px;
    font-weight: 200;
    float: left;
    width: 100%;
}
.site-footer a,
.site-footer a:visited {
    color: #000;
    text-decoration: none;
}
.site-footer a:hover {
    color: #828282;
    text-decoration: none;
}
.footer-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.site-footer .column {
    float: left;
    margin-bottom: 15px;
}
.site-footer ul {
    list-style: none;
}
.site-footer li {
    display: inline;
}
.site-footer p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #828282;
}
.footer-col-1 {
    width: 270px;
    /*fallback*/
    width: -webkit-calc(35% - 10px);
    width: -moz-calc(35% - 10px);
    width: -o-calc(35% - 10px);
    width: calc(35% - 10px);
    margin-right: 10px;
}
.footer-col-1 ul li {
    margin-right: 10px;
}
.image {
    display: inline;
    float: left;
    margin-right: 3%;
    margin-top: 1%;
}
.licenses {
    display: inline;
}
.footer-col-2 {
    width: 175px;
    /*fallback*/
    width: -webkit-calc(23.125% - 10px);
    width: -moz-calc(23.125% - 10px);
    width: -o-calc(23.125% - 10px);
    width: calc(23.125% - 10px);
    margin-right: 10px
}
.footer-col-3 {
    width: 335px;
    /*fallback*/
    width: -webkit-calc(41.875%);
    width: -moz-calc(41.875%);
    width: -o-calc(41.875%);
    width: calc(41.875%);
}
/*back to top*/
#back-top {
  position: fixed;
  bottom: 7%;
  margin-left: 90%;
}
#back-top a {
  width: 54px;
  height: 54px;
  display: block;
  background: #ddd url(../imgs/bg_up_arrow.png) no-repeat center center;
  background-color: #c9c9c9;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: #777;
}

/* Page Content styles */

/* ----------------------------------------------------------*/

.page-content {
    /*    margin-top: 10px;*/
    padding: 30px 0;
    background-color: #fff;
}
.page-content .wrap {
    padding: 40px;
    background-color: white;
}
/* Home styles */

/* ----------------------------------------------------------*/

.home h1 {
    margin-bottom: 25px;
}
.post {
    margin-top: 6%;
}
.post img {
/*
    display: table-cell;
    vertical-align: middle;
    text-align: center;
*/
/*    margin-left: 15%;*/
    box-shadow: 7px 20px 30px rgba(0, 0, 0, 0.2);
}
/*
.post img:hover {

    box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.2);
}
*/
.posts {
    list-style-type: none;
}
.post li,
.post p,
.posts p {
    letter-spacing: 0px;
    line-height: 2;
}
.posts li {
    margin-bottom: 30px;
}
.posts .post-link {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
}
.post-link:hover {
    color: #505050;
}
.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
    margin: 10px;
    margin-left: 0px;
}
blockquote p{
    font-size:15px;
    line-height:inherit;
}
/* Post styles */

/* ----------------------------------------------------------*/

.post-header {
    margin: 10px 0 30px;
    text-align: center;
}
.post-header h1 {
    font-size: 42px;
    letter-spacing: 1.75px;
    line-height: 1.5;
    font-weight: 300;
}
.post-header .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
}
.post-content {
    margin: 0 0 30px;
}
.post-content > * {
    margin: 20px 0;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
}
.post-content h2 {
    font-size: 32px;
    letter-spacing: 0px;
}
.post-content h3 {
    font-size: 26px;
    letter-spacing: 0px;
}
.post-content h4 {
    font-size: 20px;
    letter-spacing: 0px;
}
.post-content blockquote {
    /*border-left: 4px solid #e8e8e8;*/
    border-left: 4px solid #ff0000;
    padding-left: 20px;
    font-size: 15px;
    opacity: .6;
    letter-spacing: 0px;
    font-style: italic;
    /*margin: 30px 0;*/
}
.post-content ul,
.post-content ol {
    padding-left: 20px;
}
/* media queries */

/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
    .footer-col-1 {
        width: 50%;
    }
    .footer-col-2 {
        width: 45%;
        /*fallback*/
        width: -webkit-calc(50% - 10px);
        width: -moz-calc(50% - 10px);
        width: -o-calc(50% - 10px);
        width: calc(50% - 10px);
        margin-right: 0;
    }
    .site-footer .column.footer-col-3 {
        width: auto;
        float: none;
        clear: both;
    }
}
@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }
    .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px;
        right: 8px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
    }
    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        width: 36px;
        text-align: center;
        line-height: 36px;
    }
    .site-nav .menu-icon svg {
        width: 18px;
        height: 16px;
    }
    .site-nav .trigger {
        clear: both;
        margin-bottom: 5px;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
    }
    .site-nav .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 10px;
        margin: 0;
    }
    .post-header h1 {
        font-size: 36px;
    }
    .post-content h2 {
        font-size: 28px;
    }
    .post-content h3 {
        font-size: 22px;
    }
    .post-content h4 {
        font-size: 18px;
    }
    .post-content blockquote {
        padding-left: 10px;
    }
    .post-content ul,
    .post-content ol {
        padding-left: 10px;
    }
    .site-footer .column {
        float: none;
        clear: both;
        width: auto;
        margin: 0 0 10px;
    }
}
/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #000;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #fff;
}
/*---鼠标悬浮滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #018EE8;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
/*鼠标点击滚动条显示样式*/

::-webkit-scrollbar-thumb:active {
    height: 50px;
    background-color: #FB4446;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}