---
layout: index
title: 博客
---

<style>
.blog:visited {
    color: #000;
}
</style>

<!-- 遍历分页后的文章 -->

<div class="blog-posts-left pull-left">
<!--<div class="blog-posts-left left">-->
<!--<div class=" left">-->
    
    <div class="blog-posts">
        <!--  <h1>Posts</h1>-->
      <ul class="posts">
        {% for post in paginator.posts %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span>{{ post.content | split:'<!--more-->' |first }}</span>
          </li>
        {% endfor %}
      </ul>

    <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
    </div>


    <div id="post-pagination">
    
      <!--privous-->
      <ul class="pagination ">
        {% if paginator.previous_page %}
            <li  >
              {% if paginator.previous_page == 1 %}
                <a href="/blog/">&laquo;</a>
              {% else %}
                <a href="{{ paginator.previous_page_path }}">&laquo;</a>
              {% endif %}
            </li>
              {% else %}
            <li  disabled="disabled">
              <span>&laquo;</span>
            </li>
        {% endif %}
      
        <!--  first page  -->
        <li>
          {% if paginator.page == 1 %}
            <span class="current-page">1</span>
          {% else %}
            <a href="/blog/">1</a>
          {% endif %}
        </li>
        
        <!--  other page -->
        {% for count in (2..paginator.total_pages) %}
          <li>
            {% if count == paginator.page %}
              <span class="current-page">{{ count }}</span>
            {% else %}
              <a href="/blog/page{{ count }}">{{ count }}</a>
            {% endif %}
          </li>
        {% endfor %}
        
        <!-- next -->
        {% if paginator.next_page %}
        <li >
          <a href="{{ paginator.next_page_path }}">&raquo;</a>
        </li>
          {% else %}
        <li disabled="disabled">
          <span>&raquo;</span>
        </li>
      {% endif %}
      </ul>

    </div>
    
</div>

<div class="blog-posts-right pull-right">
    <ul>
        <li class="search center-block">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </li>
        <li class="name-archives panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">文章分类</h3>
              </div>
              <div class="panel-body ">

            <ul class="nav nav-pills nav-stacked">
                {% for category in site.categories %}
                <li><a href="/categories/{{ category | first }}/" title="view all
            posts">
                <span>{{ category | first }}</span> 
                <span class=" badge pull-right">{{ category | last | size }}</span></a>
                </li>
                {% endfor %}
            </ul>                 
              </div>
        </li>
        <li class="tags panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">文章标签</h3>
              </div>
              <div class="panel-body ">
{% for tag in site.tags %}
    <a href="/show_by_tag.html?tag={{ tag[0] }}"> {{ tag[0] }}</a>
{% endfor %}
              
              
              </div>

        </li>
        <li class="year-archives panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">文章归档</h3>
              </div>
              <div class="panel-body ">

              </div>
        </li>
<!--
        <li class="weibo panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">新浪微博</h3>
              </div>
              <div class="panel-body ">

              </div>
        </li>
-->
        <li class="guests panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">最近访客</h3>
              </div>
              <div class="panel-body ">

              </div>
        </li>
    </ul>
<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2612683225&verifier=30f306f1&dpc=1"></iframe>
    
    
</div>
