---
layout: post-default
---
<div class="post">

  <header class="post-header">
    <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ page.title }}</h1></a>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <span class="glyphicon glyphicon-calendar " style="margin-left:40px"></span>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

<!--  <hr style="border:solid; ">-->
  <hr>
  <article class="post-content">
  {{ content }}
  </article>    
    <wb:share-button appkey="5s5iWI" addition="number" type="button" ralateUid="2612683225" default_text="【博文分享】：《{{ page.title }}》 | {{ page.description }}"></wb:share-button>
 <hr><br>
    <div>
        <ul class="pager">
            {% if page.previous %}
              <li class="previous"><a href="{{ page.previous.url }}"> &laquo;&laquo; 上一篇 </a> </li> 
<!--              <p>{{ page.previous.title | truncatewords:5 }}</p>-->
            {% else %}
              <li class="previous disabled"><a href="#"> BEGIN </a> </li> 
            {% endif %}
             <a href="{{ site.url }}/blog">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-home"></span> Home
                </button>
            </a>
            {% if page.next %}
              <li class="next"><a href="{{ page.next.url }}"> 下一篇 &raquo;&raquo;</a>  </li>
            {% else %}
              <li class="next disabled"><a href="#"> END </a>  </li>
            {% endif %}
        </ul>
        
            
            <ul class="post-name" style="list-style:none; ">
            {% if page.previous %}
              <li class="pull-left" style=" display:inline-block;"><a href="{{ page.previous.url }}"> {{ page.previous.title | truncatewords:5 }} </a> </li> 
<!--              <p>{{ page.previous.title | truncatewords:5 }}</p>-->
            {% else %}
              <li class="pull-left" style=" display:inline-block;"> </li>
            {% endif %}

            {% if page.next %}
              <li class="pull-right" style="display:inline-block;"><a href="{{ page.next.url }}"> {{ page.next.title | truncatewords:5 }}</a>  </li>
            {% else %}
              <li class="pull-right" style="display:inline-block;"> </li>
            {% endif %}
        </ul>
 
    </div>
   <br><br><br><br><br>
    <!--添加disqus评论-->
    {% if site.disqusname and page.comments %}
        {% include disqus.html %}
    {% endif %}
</div>




